#background{ 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/linen_bg.jpg);
	z-index: -1;
}
.ui-page{
background:none;
}

.image {
  position: relative;
  left: 50%;
  margin-left: -260px;
  top: 50%;
  margin-top: -100px;
  z-index: 0;
}

.ui-btn {
	z-index: 0;
	width: 280px !important;
	margin: auto;
}

#headerfooter {
	z-index: 0;
	width: auto !important;
}

.ui-select {
	width: 150px !important;
	margin: auto !important;
	left: -25px !important;
}

.ui-dialog .ui-dialog-buttonpane { 
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}

.center-button, .ui-controlgroup-controls {
	margin: auto !important;
}

#center {
	margin: auto;
}

#selector {
	margin: 0 auto;
}

h1, p, .scannerimage{
	text-align: center;
}

h2 {
	text-align: left !important;
	margin-left: 10px !important;
}

li {
	margin: auto;
	width: 100px !important;
	padding: 5px !important;
}

ul, ol {
	padding: 10px !important;
}
.ui-btn, .ui-btn-icon-right, .ui-icon-carat-r {
	width: 150px !important;
}

/*button color of buttons in body*/
/*.ui-body-a .ui-btn{
	background-color: #73824f !important;
}*/

.select {
	text-align: center;
}

#sc { /*general centering for header and footer elements*/
    margin: auto;
    text-align:center;
}

/* darker green */
/*.ui-page-theme-b .ui-bar-inherit {
	background-color: #464f30;
}*/

#roll {
	top: 50% !important;
}

.ui-body-b {
	border-width: 0px !important;
}

.ui-page-theme-b {
	background-color: #F6EFDB !important;
}

.ui-content {
	padding: 0em !important;
}