img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 
}
#headfoot {
	background-color: #7e0b0b;
	border-width: 5px;
	border-color: #FFC526; 
}
#bgc {
	background-color: #B2BC8E !important;
}
#sc { /*general centering for header and footer elements*/
    margin: auto;
    text-align:center;
}

#selectorbody, #selector { /*general centering for header and footer elements*/
    margin: auto;
    text-align:center;
}

#selector-button { /*style for selectors*/
	margin: auto;
	text-align: center;
	/*background-color: #D50019;*/
	border-color: #ddc37c;
	border-width: 5;
	color: #000000;
}
#button, .ui-page-theme-a .ui-btn{ /*style for buttons*/
	margin: auto;
	text-align: center;
	/*background-color: #D50019;*/
	border-color: #ddc37c;
	border-width: 5;
	color: #000000;
}

#info, #instructions {
	color: #FFFFFF;
}
h1, h2, h3 {
	text-align: center;
	color: #ddc37c;
	text-shadow: 0px 1px 0px #000000;
}