img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 
}
#headfoot {
	background-color: #850001;
	border-width: 5px;
	border-color: #FFC526; 
}
#bgc {
	background-color: #33460E !important;
}
#sc { /*general centering for header and footer elements*/
    margin: auto;
    text-align:center;
}
#selector { /*style for selectors*/
	margin: auto;
	text-align: center;
}
#select-choice-0 {
	background-color: #850001;
	border-color: #FFC526;
	border-width: 5;
	color: #FFFFFF;
}
#button { /*style for buttons*/
	margin: auto;
	text-align: center;
	background-color: #850001;
	border-color: #FFC526;
	border-width: 5;
	color: #FFFFFF;
}
h1, h2, h3 {
	text-align: center;
	color: #D48A1D;
	text-shadow: 0px 1px 0px #000000;
}